<h2>Performance</h2>

<div class="btn-group group-with-margin" id="performance-group" data-toggle="buttons">
  <% @trend_report.performance_groups.each do |group| %>
      <%= label_tag(nil, nil, class: 'btn btn-default btn-sm trend-performance-plot-button') do %>
          <%= radio_button_tag('trend-performance-label', group[:name], false) %> <%= group[:name] %>
      <% end %>
  <% end %>
</div>

<div id="trend-performance-plot"></div>
