<div class="container">
  <div class="page-header">
    <h1>Trend</h1>
  </div>

  <div class="row">
    <%= render 'trend/desc_diff' %>
  </div>

  <div class="row">
    <%= render 'trend/all_requests' %>
  </div>

  <div class="row">
    <%= render 'trend/requests' %>
  </div>

  <div class="row">
    <%= render 'trend/performance' %>
  </div>
</div>
