
<% all_requests_percentile_of_values_uniq_id = Digest::MD5.bubblebabble('all' + '2') %>

<%= button_to 'Request time distribution',
    result_all_requests_histogram_plot_path(
      result_id: @result.id,
      result_time_cut: @result.time_cutting_percent,
    ),
    remote: true,
    id: 'all_requests_plot_button',
    class: 'btn btn-default show-plot bottom20',
    data: { disable_with: 'Loading..' },
    'data-toggle' => 'collapse',
    'data-target' => '#all_requests_plot' %>

<div class="collapse" id="all_requests_plot"></div>

<%= button_to 'Percentile of requests',
    result_percentile_requests_plot_path(
      result_id: @result.id,
      result_time_cut: @result.time_cutting_percent,
      plot_id: all_requests_percentile_of_values_uniq_id
    ),
    remote: true,
    id: "#{all_requests_percentile_of_values_uniq_id}_button",
    class: 'btn btn-default show-plot bottom20',
    data: { disable_with: 'Loading..' },
    'data-toggle' => 'collapse',
    'data-target' => "##{all_requests_percentile_of_values_uniq_id}_div" %>

<div class="collapse" id="<%= "#{all_requests_percentile_of_values_uniq_id}_div" %>"></div>
