<%= button_to 'All requests historgram',
    result_all_requests_histogram_plot_path(
      result_id: @result.id,
      result_time_cut: @result.time_cutting_percent,
    ),
    remote: true,
    id: 'all_requests_plot_button',
    class: 'btn btn-default show-plot bottom20',
    data: { disable_with: 'Loading..' },
    'data-toggle' => 'collapse',
    'data-target' => '#all_requests_plot' %>

<div class="collapse" id="all_requests_plot"></div>

<%= button_to 'Percentile of requests',
    result_percentile_requests_plot_path(
      result_id: @result.id,
      result_time_cut: @result.time_cutting_percent,
    ),
    remote: true,
    id: 'percentile_requests_button',
    class: 'btn btn-default show-plot bottom20',
    data: { disable_with: 'Loading..' },
    'data-toggle' => 'collapse',
    'data-target' => '#percentile_requests_plot' %>

<div class="collapse" id="percentile_requests_plot"></div>
