<% if @checked_results.present? %>
  <div class="btn-group" role="group">
    <div class="inline-block">
      <%= button_to 'x', results_clear_path, remote: true, id: 'clear-results', class: 'btn btn-link' %>
    </div>
    <div class="inline-block">
      <%= "Selected results: #{@checked_results.join(', ')}" %>
    </div>
  </div>
<% end %>
