<div id="different-warning" class="alert alert-warning" role="alert">
  <strong>Warning!</strong>
  <p>You are comparing results that has differences:</p>
  <ul>
    <% @differences.each do |difference| %>
      <li><%= difference %></li>
    <% end %>
  <ul>
</div>
