<div class="panel-group" id="perfmon_data">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#perfmon_data" href="#collapsePerfmonData">
          Performance results
        </a>
      </h4>
    </div>
    <div id="collapsePerfmonData" class="panel-collapse collapse in">
      <div class="panel-body">
        <% @compare_report.performance_groups.each do |group| %>
            <% case %>
        <% when group[:metrics_type] == PerformanceGroup.define_metrics_type[:dynamic], group[:metrics_type] == nil %>
                <%= render(
                        partial: 'compare/performance_dynamic_metrics_compare_report',
                        locals: {group: group}
                    ) %>
            <% when group[:metrics_type] == PerformanceGroup.define_metrics_type[:static] %>
                <%= render(
                        partial: 'compare/performance_static_metrics_compare_report',
                        locals: {group: group}
                    ) %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>