<%= button_to 'All requests historgram',
    compare_all_requests_histogram_plot_path(
      result1_id: @compare_report.result1.id,
      result2_id: @compare_report.result2.id,
      result1_time_cut: @compare_report.result1.time_cutting_percent,
      result2_time_cut: @compare_report.result2.time_cutting_percent
    ),
    remote: true,
    id: 'all_requests_plot_button',
    class: 'btn btn-default show-plot bottom20',
    data: { disable_with: 'Loading..' },
    'data-toggle' => 'collapse',
    'data-target' => '#all_requests_plot' %>

<div class="collapse" id="all_requests_plot"></div>

<%= button_to 'Percentile of requests',
    compare_percentile_requests_plot_path(
      result1_id: @compare_report.result1.id,
      result2_id: @compare_report.result2.id,
      result1_time_cut: @compare_report.result1.time_cutting_percent,
      result2_time_cut: @compare_report.result2.time_cutting_percent
    ),
    remote: true,
    id: 'percentile_requests_button',
    class: 'btn btn-default show-plot bottom20',
    data: { disable_with: 'Loading..' },
    'data-toggle' => 'collapse',
    'data-target' => '#percentile_requests_plot' %>

<div class="collapse" id="percentile_requests_plot"></div>
