<div class="container">
  <div class="page-header">
    <h1>Compare report</h1>
  </div>

  <div class="row">
    <%= render('compare/description_compare_report') %>
  </div>

  <% if @compare_report.performance? %>
      <div class="row">
        <%= render('compare/performance_data_compare_report') %>
      </div>
  <% end %>

  <div class="row">
    <%= render('compare/request_data_compare_report') %>
  </div>

</div>
