/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.hidden-row {
  padding: 0 !important;
}

.bottom10 {
  margin-bottom: 10px;
}

.top10 {
  margin-top: 10px;
}

.bottom20 {
  margin-bottom: 20px;
}

.top10 {
  margin-top: 10px;
}

.right10 {
  margin-right: 10px;
}

.tooltip-inner {
  background-color: #5bc0de;
  color: #fff;
  text-align: left;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #5bc0de;
}

.btn.show-plot[aria-expanded="true"] {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.inline-block {
  display: inline-block;
}

thead {
  background-color: #fff;
}
